<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CtafLaunchpad.My.MySettings.ctaf" connectionString="Data Source=otacl302-scan.oracle.rabobank.nl:39000/SRV0TRI9201;User ID=owner_rtc;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>